page-ecommerce-cart-done {
  .thank-you-section {
    margin: 30px;
    .app-form {
      margin: 30px;
    }
  }
  .app-steps {
    margin: 32px 0;
  }
  .big-icon {
    font-size: 400%;
    color: #f39c12;
  }
  .button-options {
    margin: 0 25%;
  }
}
