@mixin text-color-contrast($color,$method)
{
  // $color - the specified color
  /*
  $method the algorithm to find the best contrast.
  if the color scheme doesn't go well with the
  text color (like red background with black text).
  Switching between "simple" and "w3c" should fix this
  */
  @if($method == "simple")
  {
    @if(lightness($color) < 51, #FFF, #000){
    color : transparentize(white, 0.15);
  };
    @else {
    color : transparentize(black, 0.15);
    }
  }

  @if($method == "w3c")
  {
    $color-brightness: round((red($color) * 299) + (green($color) * 587) + (blue($color) * 114) / 1000);
    $light-color: round((red(#ffffff) * 299) + (green(#ffffff) * 587) + (blue(#ffffff) * 114) / 1000);

    @if abs($color-brightness) < ($light-color/2){
      color : transparentize(white, 0.15);
    }

    @else {
      color : transparentize(black, 0.15);
    }
  }

}
